.text-container {
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    padding: 20px 0;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

h2 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 20px;
}

.glowingbtn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background: #2553b8;
    border-color: #2553b8;
    color: #ffffff;
    /* box-shadow: 0 0 25px #2553b8; */
    box-shadow: 0 0 5px #2553b8, 0 0 25px #2553b8;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.glowingbtn:hover {
    background-color: #007bff;
    box-shadow: 0 0 5px #007bff, 0 0 25px #007bff, 0 0 50px #007bff, 0 0 200px #007bff;
}

.spantags {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spantags span {
    font-weight: bold;
    padding: 0 10px;
    border-right: 2px solid #ffffff;
    text-transform: uppercase;
}

.spantags span:last-child {
    border-right: none;
}

@keyframes scrollUp {
    0% {
        opacity: 1;
        transform: none;
        /* transform-origin: 50% 80% 0px; */
    }

    100% {
        opacity: 0;
        transform: scale(2) translateZ(0px);
        /* transform-origin: 50% 80% 0px; */
    }
}

@keyframes scrollDown {
    0% {
        opacity: 0;
        transform: scale(2) translateZ(0px);
        /* transform-origin: 50% 80% 0px; */
    }

    100% {
        opacity: 1;
        transform: none;
        /* transform-origin: 50% 80% 0px; */
    }

}

@keyframes swipeLeft {
    0% {
        opacity: 0;
        transform: none;
        /* transform-origin: 50% 80% 0px; */
    }

    100% {
        opacity: 1;
        transform: translateX(-100%);
        /* transform-origin: 50% 80% 0px; */
    }

}

@keyframes swipeRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
        /* transform-origin: 50% 80% 0px; */
    }

    100% {
        opacity: 1;
        transform: none;
        /* transform-origin: 50% 80% 0px; */
    }

}

@media (max-width:768px) {
    .container h1 {
        font-size: 28px;
    }

    .container h2 {
        font-size: 25px;
    }
}