.benefits {
    background-color: #fff;
    padding: 20px 0;
}

.benefits h2 {
    font-size: 36px;
    text-align: center;
}

.benefit-box {
    background-color: #f8f9fa;
    padding: 30px;
    margin: 30px 10px;
    text-align: center;
    border-radius: 10px;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.benefit-box i {
    font-size: 48px;
    color: #007bff;
    margin-bottom: 20px;
}

.benefit-box h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.benefit-box p {
    font-size: 18px;
}
@media (max-width: 990px) {
    .benefit-box{
        width: 100%;
    }
    .col-md-6{
      width: 100%;  
    }
}